<link rel="shortcut icon" href="https://libapps.s3.amazonaws.com/accounts/65995/images/HL-logo_favicon.png" type="image/vnd.microsoft.icon">

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//libapps.s3.amazonaws.com/sites/61/include/trueno.css">

<style>
/*FONT SMOOTHING*/
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*FONT STLYES*/
body, a.hl_header-ask_title {
	font-family:'Lora',Georgia,serif !important;
}

h1 {
	font-family:'Trueno','Montserrat',sans-serif !important;
	color:#1E1E1E !important;
	font-weight: 700;
}

h1#s-la-public-header-title {
  font-size: 36px;
}

.s-la-public-header-description {
  font-size: 32px;
  font-style: italic;
}

.s-la-box-title h2, .s-la-widget .color_head, .s-la-faq-answer h2, h2 {
	font-family:'Trueno','Montserrat',sans-serif !important;
	color:#1E1E1E !important;
	font-size:32px !important;
	font-weight: 700;
	line-height:42px !important;
	text-transform:uppercase !important;
	letter-spacing:2.4px !important;
	margin-bottom: 0.4em;
}
.s-la-faq-answer h2 {
	text-transform:capitalize !important;
	font-weight:500;
}

h3, #libchat_modal_title {
	font-family:'Trueno','Montserrat',sans-serif;
	color:#1E1E1E;
	font-size:20px !important;
	font-weight: 700;
	line-height:30px !important;
	text-transform:uppercase;
	letter-spacing:1.5px;
}

h4 {
	font-family:'Trueno','Montserrat',sans-serif;
	color:#1E1E1E;
	font-size:20px;
	font-weight: 500;
	line-height:30px;
	text-transform:uppercase;
	letter-spacing:2.14px;
}

h5 {
	font-family:'Trueno','Montserrat',sans-serif;
	color:#1E1E1E;
	font-size:19px;
	font-weight: 500;
	line-height:29px;
}

h6 {
	font-family:'Trueno','Montserrat',sans-serif;
	color:#1E1E1E;
	font-size:16px;
	font-weight: 500;
	line-height:28px;
}

p, .s-la-faq-answer {
	color:#414141 !important;
	font-size:19px !important;
	line-height:32px !important;
	padding-bottom: 1.84em;
	margin-bottom: 0;
}

.p-small {
	color:#414141;
	font-size:15px;
	line-height:26px;
}

.hl__large-text, .hl__large-text a,
.s-la-faq-details, .s-la-faq-details p, .s-la-faq-details a {
  font-family: "Trueno",sans-serif;
  font-weight: 200;
  font-size: 25px !important;
  line-height: 42px !important;
	margin-bottom: 1.3em;
}



/*------------------------------------------------------------------------------*/



/*BUTTONS & LINKS*/

/*LINKS*/
a, .s-la-widget a {
	font-family:'Trueno','Montserrat',sans-serif;
}
#s-la-page-maincontent a, .s-la-widget a, .hl__link-tag button {
	font-size:19px;
	border-bottom: 3px solid transparent;
	color:#0579b8;
	font-weight:600;
	transition:border 0.28s cubic-bezier(0.28,1.08,1,0.96);
}
#s-la-page-maincontent a:hover, #s-la-page-maincontent a:focus,
.s-la-widget a:hover, .s-la-widget a:focus,
.hl__link-tag button:hover, .hl__link-tag button:focus {
	border-bottom:3px solid rgba(5,121,184,0.3) !important;
	text-decoration:none !important;
	background: none !important;
	color: #0579b8 !important;
}

/* WIDGET BUTTON AS LINK -- add class="hl__ask__link" to widget code */
.hl__link-tag button {
 width: auto;
 padding: 0;
 border: 0 !important;
 border-bottom: 3px solid transparent !important;
 text-transform: lowercase;
 display: inline;
 border-radius: 0;
 background: transparent;
 text-align: left;
 letter-spacing: normal !important;
}

/*B&W BUTTON*/
button, .btn, #libchat_e51326de242dae8568d89faec0d175ef button, .btn-primary, #s-la-content-text-55622 a.button, #s-la-content-text-55623 a.button {
	font-family:'Trueno','Montserrat',sans-serif !important;
	letter-spacing:1.17px !important;
	text-transform:uppercase;
	display: inline-block;
  padding: 6px 12px;
  text-align:center;
  border: 1px solid #1e1e1e !important;
  border-radius: 4px;
  background-color: #fff;
  color: #1E1E1E;
  width: 100%;
  font-size:14px;
	font-weight: 700;
  transition:all 0.4s ease;
}

button:hover, .btn:hover, #libchat_e51326de242dae8568d89faec0d175ef button:hover, .btn-primary:hover, #s-la-content-text-55622 a.button:hover, #s-la-content-text-55623 a.button:hover,
button:focus, .btn:focus, #libchat_e51326de242dae8568d89faec0d175ef button:focus, .btn-primary:focus, #s-la-content-text-55622 a.button:focus, #s-la-content-text-55623 a.button:focus {
	background:#6c6c6c !important;
	border-color:#6c6c6c !important;
	color:#fff !important;
}

/*BLUE BUTTON - LIBCHAT + FORM WIDGETS*/
#libchat_modal_10132 button, #autoload_btn button, #s-la-askform-submit-8323, .modal-footer button, #s-la-askform-submit-0 {
 	background:#0579b8;
 	border-color:transparent !important;
 	color:#fff;
 }
#libchat_modal_10132 button:hover, #autoload_btn button:hover, #s-la-askform-submit-8323:hover, .modal-footer button:hover, #s-la-askform-submit-0:hover,
#libchat_modal_10132 button:focus, #autoload_btn button:focus, #s-la-askform-submit-8323:focus, .modal-footer button:focus, #s-la-askform-submit-0:focus {
 	background:#2a5280 !important;
 	border-color:transparent !important;
 	color:#fff;
 }

/* CHAT BUTTON */
#hl__chat-button .hl__chat-button button {
	width: auto;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-family: "Trueno", "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.17px;
	line-height: 19px;
	padding: 12px 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease;
	color: #1e1e1e;
	background: transparent;
}
#hl__chat-button .hl__chat-button button::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin-right: 15px;
	vertical-align: sub;
	background-color: #a51c30;
}
#hl__chat-button .hl__chat-button button.libchat_online {
	border: 1px solid #1e1e1e;
	background: #fff;
	padding-left: 18px;
	padding-right: 48px;
	position: relative;
}
#hl__chat-button .hl__chat-button button.libchat_online::before {
	background-color: #50a440;
}
#hl__chat-button .hl__chat-button button.libchat_online::after {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 15px;
	top: 3px;
	right: 19px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg transform='translate(-906 -1005)'%3E%3Cpath d='M923.78 1022.78V1015H926v7.78c0 1.22-1 2.22-2.22 2.22h-15.56c-1.23 0-2.22-1-2.22-2.22v-15.56c0-1.22.99-2.22 2.22-2.22H916v2.22h-7.78v15.56zm-5.71-17.78H926v7.93h-2.27v-4.07L912.6 1020l-1.6-1.6 11.14-11.13h-4.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
}
#hl__chat-button .hl__chat-button button.libchat_online:hover, #hl__chat-button .hl__chat-button button.libchat_online:focus {
	background-color: gray;
	border-color: gray;
	color: #fff;
}


/*------------------------------------------------------------------------------*/



/*HEADER STYLE*/
.container {
	padding:40px 0;
}
.hl_header, .container.hl_footer {
	width:100%;
}
section.hl_header-ask {
	display:flex;
	background: #1e1e1e;
}
.hl_header-ask_title, .hl_header-ask_title:hover, .hl_header-ask_title:focus {
	font-size:24px;
	line-height:1.3;
	color:#1e1e1e;
	flex:auto;
	font-size:24px;
	font-style:italic;
	font-weight:400;
	line-height:40px;
	margin:0;
	padding:10px 25px;
	float:left;
	background:linear-gradient(45deg, #F8C21C 0%, #FBE08E 100%);
	text-decoration:none;
}
.hl_header-ask_title span {
    font-size: 32px;
    line-height: 1.25;
    font-family: 'Trueno','Montserrat',sans-serif !important;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.52px;
    line-height: 1;
    text-transform: uppercase;
}
.hl_header-ask_logo {
	height:60px;
	max-width:330px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    flex: none;
    float:right;
}
.hl_linked-image a {
	padding: 10px 25px;
    display: block;
    font-size: 0;
}

/*------------------------------------------------------------------------------*/



/*MAIN SEARCH BAR - ADDITIONAL STYLING*/

/*PADDING ABOVE H1*/
h1#s-la-public-header-title {
	margin-top:50px;
}

/*SEARCH BOX*/
.s-la-content-search {
	text-align: left;
}
#s-la-content-search-97830 .form-group {
	border:1px solid #1e1e1e;
	border-radius:3px;
}
#s-la-content-search-query-97830 {
	padding:5px 10px;
	margin:0 2px 0 0;
	height:60px;
	font-family:'Trueno','Montserrat',sans-serif;
	font-size:18px;
	border-radius: 3px;
	border-color:transparent;
	color: #6c6c6c;
}
#s-la-content-search-query-97830:focus {
	border:1px solid #66afe9;
}

/*OVERALL WIDTH OF BOX*/
body:not(.s-la-page-home)  .navbar-form .s-la-content-search-query {
	width: 100%;
}
@media (min-width: 768px) {
	body:not(.s-la-page-home)  .navbar-form .s-la-content-search-query {
		min-width:610px !important;
	}
}
@media(min-width: 100px){
	body.s-la-page-home .navbar-form .s-la-content-search-query {
		max-width: 100%;
	}
}

/*WIDTH OF SEARCH BUTTON*/
.col-xs-3.s-la-searchform-buttoncol {
	max-width: 115px;
	float:right;
}

/*SEARCH BUTTON*/
button.s-la-searchform-button, .s-la-searchform-button:active, .s-la-searchform-button:focus, .s-la-searchform-button:hover {
	color: #1E1E1E;
  font-weight: 700;
  border-color: transparent !important;
  border-left: 1px solid #1e1e1e !important;
  background: #fff;
  margin: 10px 1px;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 13px;
  float:right;
  max-width:115px;
	line-height: 16px;
}
.s-la-searchform-button:focus, .s-la-searchform-button:hover {
	color: #6c6c6c !important;
	background:#fff !important;
}

/*RIGHT FACING ARROW > */
button.s-la-searchform-button::after, #s-la-content-link-98152 a::after {
	border-bottom: 0.425em solid transparent;
	border-left: 0.5em solid currentColor;
	border-top: 0.425em solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	margin-left: 0.3em;
	opacity: 0.6;
	background-image: none;
	padding-right: 0;
	color: #0579b8;
}
button.s-la-searchform-button::after {
	opacity: 1;
}

/*FONT OF AUTOCOMPLETE LIST*/
ul#s-la-content-search-query-97830_list {
	font-family:'Trueno','Montserrat',sans-serif;
	font-weight: 300;
}

/*KEEP SEARCH BOX OPEN*/
.navbar-header {
	display:none;
}
#s-la-browsebar-collapse {
	display:block;
}

/*"How can ITS help?" TEXT BEFORE SEARCHBOX*/
body:not(.s-la-page-home) #s-la-searchform-97830:before {
    content: "How can ITS help?";
    margin-right: 20px;
    flex: none;
    font-family: 'Trueno','Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 60px;
    text-transform: uppercase;
    float: left;
}
body.s-la-page-home #s-la-page-title-bar {
  margin-top: 20px;
}
body.s-la-page-home #s-la-page-title-bar::before {
  content: "How can ITS help?";
  font-family: 'Trueno','Montserrat',sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 0.4em;
}
body.s-la-page-home #s-la-page-title-bar > .navbar {
  margin-top: 20px;
}

/*HIDE "How can ITS help?" WHEN SCREEN GETS TOO SMALL - WORK ON FIXING LATER*/
@media (max-width: 768px) {
	body:not(.s-la-page-home) #s-la-searchform-97830:before {
		content:"";
	}
}



/*------------------------------------------------------------------------------*/



/*PADDING & ALIGNMENT*/
#s-la-content-search-97830 .col-xs-9, #s-la-content-search-97830 .col-xs-3.s-la-searchform-buttoncol, .s-la-box-content, .navbar-collapse {
	padding:0;
}
#s-la-page-title-bar .navbar-form, .s-la-color-bars {
	padding-left:0;
}
.s-la-box-container {
	margin:40px 0;
}


/*SEARCH RESULTS BOX*/
/* #s-la-box-55074-container {
	margin-bottom:0p;
} */
.navbar {
	padding-right:40px;
}

/*SEE ALL SERVICES*/
#s-la-content-link-98152 {
	text-align: right;

}
#s-la-content-link-98152 a {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

/*WIDTH OF ANSWERS*/
#s-srch-source-0 .row .col-md-9,
#s-la-box-56347-container /* FIND OUT WHAT THIS POINTS TO */,
#s-la-content-faqlist-98149  {
	max-width:930px;
}

/*EXPLORE OUR SERVICES BOX*/
.s-la-page-home  .s-la-box-title h2 {
  text-transform: none !important;
  letter-spacing: normal !important;
  /* font-weight: normal !important; */
  /* font-size: 16px !important; */
  /* line-height: 19px !important; */
}
#s-la-box-98775-container {
  /* margin-top: 20px; */
}
.s-la-content-faqlist ul {
	margin:0;
	column-count: 2;
	column-gap: 60px;
	list-style:disc;
  padding-left: 20px;
}
.s-la-content-faqlist li::marker, li::marker {
  color: #eb001b;
}
.s-la-content-faqlist li a {
  font-size: 16px !important;
  line-height: 24px !important;
}



/*NEWS-PROJECTS-CONTACT*/
#s-la-box-98776-container {
	padding:40px 0;
	border-top:1px solid rgb(192,192,192);
}

/*SEARCH BOX ON RESULTS + ANSWER PAGES*/
/*TOP*/ .s-la-header, .s-la-box-title {
	padding: 0 0 10px 0;
}

/* MORE HELP THREE-UP */
#s-la-content-text-98151 {
  display: flex;
  flex-wrap: wrap;
}
.hl__asklib {
	padding: 0 30px 30px 30px;
  display: flex;
}
.hl__asklib svg {
  margin-right: 15px;
  height: 100px;
  width: 100%;
  max-width: 100px;
  min-width:80px;
}
.hl__asklib p, .hl__asklib p a {
  text-align: left;
  font-size: 16px !important;
}
.hl__asklib h2 {
  font-family: "Trueno", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
}

@media(max-width:992px){
	.hl__asklib h2 {
	  font-size: 24px;
	  line-height: 32px;
	  margin: 0;
	}
}


/*------------------------------------------------------------------------------*/


/*SEARCH RESULTS PAGE*/

/*SHOWING # - # (OF #)*/
.s-srch-range.pull-left {
	color: #6c6c6c;
    font-family: 'Trueno', 'Montserrat', sans-serif;
    font-size: 15px;
	font-weight: 300;
    line-height: 25px;
}

/*SORT BY BUTTON*/
#s-srch-sort-0-btn, #s-srch-sort-0-btn {
	padding:1px 5px;
	font-size:12px;
	line-height:1.5;
	border-color:#adadad !important;
	background:#e6e6e6 !important;
	color:#1e1e1e !important;
}

/*DROPDOWN MENU*/
ul.dropdown-menu li a {
	font-size:16px !important;
	color:#1e1e1e !important;
}
ul.dropdown-menu li a:hover {
	border-bottom:none !important;
}

#s-srch-source-0 .row .col-md-9:nth-child(4), #s-srch-source-0 .row .col-md-9:nth-child(5) {
	display:none;
}

/*PAGINATION*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color:#fff !important;
}



/*------------------------------------------------------------------------------*/



/*FOOTER STYLING*/
.hl_footer {
	background:#1E1E1E;
	padding-top: 55px;
	padding-bottom: 35px;
	font-family:'Trueno', 'Montserrat', sans-serif;
	font-weight: 300;
}
.hl_footer-ask {
	max-width:1450px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.hl_footer-ask-logo svg {
	width: 100%;
}
.hl_footer ul {
	list-style:none;
	padding:0;
	margin:0;
}
.hl_footer li {
	margin:10px 0;
}

.container.hl_footer a, .container.hl_footer h4, .container.hl_footer li {
	color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 1.87px
}
.hl_footer-policy p {
    font-size: 14px !important;
    line-height: 19px !important;
    color: silver !important;
    font-weight: 300 !important;
}

.hl_footer-ask-logo {
	text-align:center;
}
.hl_footer-contact h4, .hl_footer-extlinks li:first-of-type, .hl_footer-policy h4 {
	margin-top:0;
}

/*FOOTER LINKS*/
.hl_footer-contact a, .hl-footer_extlinks a {
	font-weight:200;
	transition:border 0.28s cubic-bezier(0.28,1.08,1,0.96);
}

.hl_footer-contact a:hover, .hl_footer-extlinks a:hover,
.hl_footer-contact a:focus, .hl_footer-extlinks a:focus {
	border-bottom: 3px solid rgba(255,255,255,0.3);
    padding-bottom: 3px;
    text-decoration: none;
    color:#fff;
}

@media (max-width:991px) {
	.hl_footer-ask {
		max-width:750px;
		margin:0 auto;
	}
}

.hl_footer .hl_footer-a11y a {text-transform:none;}




/*------------------------------------------------------------------------------*/

/*HIDDING*/

/*hide # answers, search all/group part of search bar*/
.navbar-text, .s-la-navbrowse {
	display:none;
}

/*hide "search faqs" title on single search and faq page*/
.s-la-page-public.s-la-page-single.search h1, .s-la-page-public.s-la-page-faq h1 {
	display:none;
}

/*"search results for:" header on search results page*/
.s-srch-top-header {
	display:none;
}
.s-srch-askbutton p.alert.alert-info {
	background-color:transparent;
	border-color:transparent;
}
.s-srch-askbutton .alert {
	padding:0;
}

/*REMOVE PADDING FROM ALERT WHEN THERE IS A RESULTS LIST*/
.col-md-9 .row .s-srch-askbutton .alert {
	padding:0 15px;
}
.s-srch-askbutton .btn {
	display:none;
}


/*hide topics, keywords, groups filters on search results page*/
#s-srch-source-0 .row .col-md-3 {
	display:none;
}

/*hide previous banner header*/
#s-la-public-banner {
	display:none;
}

/*hide breadcrumbs*/
#s-la-bc {
	display:none;
}

.s-la-breadcrumbs {
    display:none;
}

/*hide question meta data (last updated, views)*/
.s-la-faq-listing-meta, .s-srch-result-meta {
	display:none;
}

/*remove springshare footer info*/
#s-la-public-footer {
	display:none;
}



/*remove bottom border between questions */
li.s-la-faq-listing {
	border:none;
	margin-bottom:0;
}
.s-srch-result {
	border:none;
}



/*------------------------------------------------------------------------------*/

@media (max-width:768px) {
	.container {
		padding:20px 20px 0px 20px;
	}
	.navbar-toggle {
		margin:0 0 8px 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:none;
	}
	.container.hl_footer {
		padding:40px 0px;
	}
}
.navbar-form {
	padding:0;
	margin:0;
}

@media (max-width:610px) {
	section.hl_header-ask {
		flex-wrap:wrap;
	}
	.hl_header-ask-logo {
		width:100% !important;
	}
	button.s-la-searchform-button:after {
		display:none;
	}
	button.s-la-searchform-button {
		width:auto;
	}
}


@media(max-width:620px){
	.s-la-content-faqlist ul {
		column-count: 1;
	}
	.hl__asklib__details {
		display: block;
		padding: 20px;
	}
	.hl__asklib__alert--title {
	  margin-bottom: 10px;
	}
}



/*UNDER CONSTRUCTION*/
.under-construction {
	height:80px;
	background:red;
}
.under-construction p {
	height:40px;
	padding:30px 0;
	text-align:center;
	color:#fff !important;
	font-weight:400;
	font-family:'Trueno','Montserrat',sans-serif;
	line-height:22px !important;
}
.under-construction a {
	color:#fff;
	text-decoration:underline;
}
@media (max-width:970px) {
	.under-construction p {
		padding:20px 0;
		font-size:16px !important;
	}
}
@media (max-width:510px) {
	.under-construction p {
		padding:8px 0;
	}
}
@media (max-width:340px) {
	.under-construction {
		height:100px;
	}
}


/* MIGHT BE NEEDED - HELPS STYLE THE SEARCH BAR, BUT DIF FROM COVID19 PAGE */
.s-la-navbrowse {display: none;}

.navbar-right {display:none;}

.s-la-color-bars {color:#333;}

@media (min-width: 100px) {
    .navbar-form .s-la-content-search-query {width: 600px; display:block;}
}

@media (min-width: 992px) {
    .navbar-form .s-la-content-search-query {width: 800px;}
}
@media (min-width: 1200px) {
    .navbar-form .s-la-content-search-query {width: 1010px;}
  }

</style>
