<style>
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 20px;
  padding-right: 20px
}

#s-lg-tabs-container h2 {
  font-size: 19px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 29px;
  text-align: center
}
p a, li a {
  font-weight: 600
}
.ui-widget-content a, a,
.ui-widget-content a:hover, a:hover,
.ui-widget-content a:focus, a:focus {
  font-weight: bold;
  font-weight: 600;
}
#s-lib-scroll-top a:hover {
  border-bottom: 0px solid transparent;
}

.s-lg-h-separator {
  border-right: 0px solid transparent;
  margin-right: 10px
}
.pad-left-med {
  margin-left: 0px;
}
.pad-top-sm {
  padding-top: 0px;
}

/* HOMEPAGE */
#s-lg-index-list .panel-body .alert strong {
	padding-right: 10px;
}

/*Media queries*/
@media (min-width:481px) {
  h1, body.h1, .s-lib-header h1, #s-lg-guide-header-info h1 {
    color: #1e1e1e;
    font-family: "Trueno", "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    text-align: left;
  }
  .s-lib-box h2.s-lib-box-title {
    font-size: 32px;
    line-height: 42px;
    color: #1e1e1e;
    font-weight: 700
  }
}

@media (min-width: 768px) {
  .s-lg-link-list, .s-lib-box-content ul {
    padding-left: 25px;
  }
}

@media (max-width: 992px) {
  .s-lib-footer .col-md-6:last-child {
    padding-top: 10px;
  }
}

</style>
